In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\HOME\Python-Jupyter\bootcamp feb25\data\preprocess_data\preprocessed.csv')

In [3]:
df

,CGPA,Internships,Projects,Workshops/Certifications,AptitudeTestScore,SoftSkillsRating,SSC_Marks,HSC_Marks,ExtracurricularActivities_Yes,PlacementTraining_Yes,PlacementStatus_Placed
0,7.5,1,1,1,65,4.4,61,79,0,0,0
1,8.9,0,3,2,90,4.0,78,82,1,1,1
2,7.3,1,2,2,82,4.8,79,80,1,0,0
3,7.5,1,1,2,85,4.4,81,80,1,1,1
4,8.3,1,2,2,86,4.5,74,88,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
9995,7.5,1,1,2,72,3.9,85,66,1,0,0
9996,7.4,0,1,0,90,4.8,84,67,0,0,1
9997,8.4,1,3,0,70,4.8,79,81,1,1,1
9998,8.9,0,3,2,87,4.8,71,85,1,1,1
9999,8.4,0,1,1,66,3.8,62,66,0,0,0

In [4]:
X = df.drop(columns=["PlacementStatus_Placed"])
y = df["PlacementStatus_Placed"]

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled,y,test_size = 0.2)

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier

In [8]:
models = [LogisticRegression(), DecisionTreeClassifier(random_state=42), 
          RandomForestClassifier(random_state=42),
          AdaBoostClassifier(random_state=42),GradientBoostingClassifier(random_state=42)]

In [9]:
from sklearn.metrics import accuracy_score

In [10]:
d = {}
for i in models:
    i.fit(X_train,y_train)
    pred = i.predict(X_test)
    acc = accuracy_score(y_test, pred)
    if acc not in d:
        d[i] = acc

d

{LogisticRegression(): 0.812,
 DecisionTreeClassifier(random_state=42): 0.702,
 RandomForestClassifier(random_state=42): 0.7915,
 AdaBoostClassifier(random_state=42): 0.811,
 GradientBoostingClassifier(random_state=42): 0.816}

In [22]:
model = [a for a,b in d.items() if b == max(d.values())][0]
print(model)

GradientBoostingClassifier(random_state=42)

In [23]:
import os
os.makedirs(r'C:\Users\HOME\Python-Jupyter\bootcamp feb25\models',exist_ok=True)

In [24]:
import joblib

In [25]:
joblib.dump(model,r'C:\Users\HOME\Python-Jupyter\bootcamp feb25\models\model')

['C:\\Users\\HOME\\Python-Jupyter\\bootcamp feb25\\models\\model']